- var title = "about"

include ./header.jade

#content

  p This is a #[a(href="") test] as well.  Latest master #[img(src="https://circleci.com/gh/psastras/experiments.svg?style=svg")]. 

script(src='about.js')