- var title = "experiments"

include ./header.jade

#content

  #experiment-webgl.experiment
    h3 #[a(href="webgl.html") WebGL]
    p.
      A variety of WebGL related things.

script(src='index.js')

include ./footer.jade