doctype html
html(lang="en")
  head
    title="psastras"
    link(href='#{title}.css', rel='stylesheet')
  body
    #header

      h1 
        span.highlight-hot @psastras
        span  / 
        span.highlight-warm #{title}

      a(href="index.html") home
      a(href="experiments.html") experiments
      a(href="about.html") about