- var title = "index"

include ./header.jade

#content

  h2 Home
  p. 
    This site is used to host a collection of personal web experiments.  Note that
    this is very much still a work in progress. All experiments
    are open source. See #[a(href="about.html") about] for more information about this 
    website, or head over to #[a(href="experiments.html") experiments] to browse.

script(src='index.js')