- var title = "index"

include ./header.jade

#content

  h2 Home
  p. 
    This site is used to host a collection of personal web experiments.  Note that
    this is very much still a work in progress. This site is automatically deployed
    from the latest changes on #[a(href="https://github.com/psastras/experiments") Github]. 
    All experiments are open source. See #[a(href="about.html") about] for more information 
    about this website, or head over to #[a(href="experiments.html") experiments] to browse.
  h3 Latest Changes
  p This website represents the last successful deploy:
  #commits 
  
script(src='index.js')

include ./footer.jade